<nav class="navbar navbar-light">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    {{#if session.isAuthenticated}}
    {{link-to 'Pickems' 'home' class="navbar-brand"}}
    {{else}}
    {{link-to 'Pickems' 'index' class="navbar-brand"}}
    {{/if}}
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <ul class="nav navbar-nav">
            {{#if session.isAuthenticated}}
            {{#link-to 'home' class="nav-item" tagName='li'}}
                <a class="nav-link" href="#">Home</a>
            {{/link-to}}
            <li class="nav-item">
                <a class="nav-link" href="#">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Stats</a>
            </li>
            {{else}}
            {{#link-to 'rules' class="nav-item" tagName='li'}}
                <a class="nav-link" href="#">What exactly is this?</a>
            {{/link-to}}
            <li class="nav-item">
                <a class="nav-link" href="#">I have a question!</a>
            </li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav pull-xs-right">
            {{#if session.isAuthenticated}}
            <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" {{action 'logout'}}>Logout</a>
            </li>
            {{else}}
            {{#link-to 'login' class="nav-item" tagName='li'}}
                <a class="nav-link" href="#">Login</a>
            {{/link-to}}
            {{#link-to 'register' class="nav-item" tagName='li'}}
                <a class="nav-link" href="#">Register</a>
            {{/link-to}}
            {{/if}}
        </ul>
    </div>
</nav>
