<div class="col-xs-12 col-md-6">
    <div class="team">
        {{#if isEditing}}
            <div class="form-group">
            {{input value=team.name class='form-control'}}
            </div>
            {{#if (or session.data.authenticated.admin (eq team.user.id session.data.authenticated.user_id))}}
                <div class="form-group">
                {{#power-select options=users searchField="fullname" placeholder="Select an owner" selected=team.user onchange=(action (mut team.user)) as |user|}}
                    {{user.fullname}}
                {{/power-select}}
                </div>
            {{/if}}
        {{else}}
        <h4 class="name">{{team.name}}</h4>
        {{/if}}
        <div class="info">
            <h5 class="owner">Owned by {{team.user.fullname}}</h5>
            <h6 class="status text-xs-center">
                {{#if team.paid}}
                <div class="paid">Paid</div>
                {{else}}
                    {{#if session.data.authenticated.admin}}
                    <div class="not-paid admin" {{action 'markPaid'}}>Mark as paid</div>
                    {{else}}
                    <div class="not-paid"><a href="https://www.paypal.com/" target="_new">paypal: mrimler@gmail.com</a></div>
                    {{/if}}
                {{/if}}
            </h6>
        </div>
        <div class="points row">
            <div class="col-xs-6 text-xs-center">
                <div class="heading">REG</div>
                <div class="number">325pts</div>
                <div class="rank">#1</div>
            </div>
            <div class="col-xs-6 text-xs-center">
                <div class="heading">PLAYOFF</div>
                <div class="number">121pts</div>
                <div class="rank">#3</div>
            </div>
        </div>
        <hr/>
        <div class="actions">
            <div class="row">
                {{#if isEditing}}
                    <div class="col-xs-6 text-xs-center">
                        <span class="card-link action" {{action 'saveEdit'}}>{{fa-icon 'save'}} Save</span>
                    </div>
                    <div class="col-xs-6 text-xs-center">
                        <span class="card-link action" {{action 'cancelEdit'}}>{{fa-icon 'remove'}} Cancel</span>
                    </div>
                {{else}}
                    <div class="col-xs-4 text-xs-center">
                        {{#link-to 'picks' team.id}}
                            {{fa-icon 'clipboard'}} Picks
                        {{/link-to}}
                    </div>
                    {{#if (or session.data.authenticated.admin (eq team.user.id session.data.authenticated.user_id))}}
                    <div class="col-xs-4 text-xs-center">
                        <span class="card-link action" {{action 'toggleEdit'}}>{{fa-icon 'edit'}} Edit</span>
                    </div>
                    <div class="col-xs-4 text-xs-center">
                        <span class="card-link text-danger action" {{action 'removeTeam' team}}>{{fa-icon 'trash'}} Delete</span>
                    </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
