<div class="teams">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>Teams</h1>
        </div>
        <div class="col-xs-12 col-sm-6 text-xs-right">
            <button class="btn btn-secondary" {{action 'toggleCreateTeam'}}>{{fa-icon 'plus'}} Create Team</button>
            {{#if showCreateTeam}}
            <br/><br/>
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-inline">
                        <div class="form-group">
                            {{input class="form-control" value=newTeam.name placeholder="Team name"}}
                        </div>

                        {{#unless session.data.authenticated.admin}}
                        <div class="form-group">
                            {{#power-select options=users searchField="fullname" placeholder="Select an owner" selected=newTeam.user onchange=(action (mut newTeam.user)) as |user|}}
                                {{user.fullname}}
                            {{/power-select}}
                        </div>
                        {{/unless}}

                        <button class="btn btn-primary" {{action 'createTeam'}}>Create Team</button>
                    </form>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8">
            <div class="input-group">
                <div class="input-group-addon">{{fa-icon 'search'}}</div>
                {{input class='form-control' value=filter placeholder='Filter'}}
                <div class="input-group-addon clear-filter" {{action 'clearFilter'}}>{{fa-icon 'remove'}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>
    <div class="row">
        {{#each teams as |team|}}
        {{team-card team=team markPaid='markPaid'}}
        {{/each}}
    </div>
</div>
